
  #background {
    /*background-image: url(image/reizbackground_bg.jpg);*/
    background-color:#718093;
    background-image: url(image/sample_bg.jpg);
    /* background-repeat:no-repeat; */
    background-size: 100%;
    background-position:center;
    margin: 5px auto;
    padding: 5px;
  }
  #logo-back{
    margin: 5px;
    font-family:arial;
    background-color: rgba(255,255,255,0.5);
  }
 
img{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

  #header {
      
    padding: 20px;
    margin-bottom: 10px;
    
  }
  #content {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #bcbcbc;
  }
  #sidebar {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #bcbcbc;
  }
  #footer {
    font-size: small;
    padding: 5px;
    
  }
  @media ( min-width: 481px ) {
    #container {
      width: 940px;
    }
    #content {
      width: 580px;
      float: left;
    }
    #sidebar {
      width: 260px;
      float: right;
    }
    #footer {
      clear: both;
    }
  }
  .centered {
    display: table;
    margin-left: auto;
    margin-right: auto; 
    }

  .myButton {
    margin: 5px;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#EAB543;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px#EAB543;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #EAB543 100%);
    background-color:#EAB543;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  
          