
  #background {
    background-image: url(image/reizbackground.jpg);
    background-repeat:no-repeat;
    background-origin:content-box;
    background-size: 100%;
    background-position:center;
    margin: 0px auto;
    padding: 0px;
  }
  h1{
      color: #2d3436;
  }
  #logo-back{
    filter: alpha(opacity=80);
    opacity: 0.5;
      background-color: #dfe6e9;
  }
#back_img{
    filter:alpha(opacity=100);
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    filter:alpha(opacity=100);
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  #header {
      
    padding: 20px;
    margin-bottom: 10px;
    
  }
  #content {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #bcbcbc;
  }
  #sidebar {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #bcbcbc;
  }
  #footer {
    padding: 10px;
    border: 1px solid #bcbcbc;
  }
  @media ( min-width: 481px ) {
    #container {
      width: 940px;
    }
    #content {
      width: 580px;
      float: left;
    }
    #sidebar {
      width: 260px;
      float: right;
    }
    #footer {
      clear: both;
    }
  }
